@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --body-font: "Outfit", sans-serif;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  line-height: 1.2;
}
#root,
#__next {
  isolation: isolate;
}

body {
  height: 100vh;
  background-color: var(--light-gray);
  font-family: "Outfit", sans-serif;
  display: grid;
  justify-content: center;
  padding: 2rem;
}
html {
  font-size: 62.5%;
}
.container {
  background-color: var(--white);
  overflow: hidden;
  border-radius: 2rem;
  max-width: 35rem;
}

.img-block {
  overflow: hidden;
  padding: 2rem;
  cursor: pointer;
}

.img-block img {
  border-radius: 1rem;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding: 2rem;
  color: var(--dark-blue);
}

.description {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: var(--grayish-blue);
  padding: 1rem;
  word-spacing: 1px;
}
